@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f8f9fa;
}
